html, body {
  height: 100%;
  margin: 0;
}

.asteriskField {
    display: none;
}

.btn btn-primary{
    alignment: right;
}

#page-container{
    /*position: relative;*/
    min-height: 100%;
    margin-bottom: -100px;
}

#content-wrap{
    padding-bottom: 1rem; /* footer height */
}

.footer, .push{
    height: 50px;
}

.navbar-collapse.collapse.in {
  display: block!important;
}